@model OrderHistoryViewModel;
@{Menu dishFromId; }
<table>
    @foreach(var item in Model.orderDictionary)
    {
        <tr>
            <td>
                <label>Скидка:</label>
            </td>
            <td>
                <label>@(item.Key.Discount)</label>
            </td>
        </tr>
        <tr>
            <td>
                <label>Время заказа:</label>
            </td>
            <td>
                <label>@(item.Key.TimeOrder)</label>
            </td>
        </tr>
        @foreach (var dish in item.Value)
        {
            dishFromId = Model.menu.FirstOrDefault(s => s.IdDish == dish.IdDish);
            <tr>
                <td>
                    <label>@(dishFromId.Dish)</label>
                </td>
                <td>
                    <label>@(dish.Quantity)</label>
                </td>
            </tr>
        }
    }
</table>